.titulo {
    color: blue;
}

body {
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 

}

.carousel-inner {
    padding-top: 25px;
}


